// G L O B A L
$primary-color: #0d1117;
$secondary-color: #00cecb;
$white: #ffffff;
$beige: #b0b4bc;
$black: #000000;

* {
    all: unset;
}

window {
    background-color: transparent;
    color: $beige;
    font-family: CascadiaCode;
}

// B A R
.bar {
    border-radius: 5px;
    background: $primary-color;
}

// W O R K S P A C E
.workspace {
    background: $primary-color;
    padding: 5px;
    border-radius: 5px;
}

.workspace__btn {
    margin: 5px;
    padding: 6px;
    border-radius: 2px;
    transition: 0.3s;
}

.workspace__btn:hover {
    background: $secondary-color;
    color: $white;
}

.workspace__btn--active {
    @extend .workspace__btn;
    background: $white;
    color: $primary-color;
}

// S Y S T E M
.system {
    background: $primary-color;
    border-radius: 5px;
    padding: 5px;
}

.system scale trough highlight {
    all: unset;
    background-color: $secondary-color;
    color: $black;
    border-radius: 10px;
}

.system scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.system__icon {
    padding: 5px 12px;
    transition: 0.3s;
    margin: 0 2px;
}

.system__icon:hover {
    color: $secondary-color;
}

.system__info {
    @extend .system;
    padding-left: 25px;
}

.system__user {
    @extend .system;
}

.system__module {
    @extend .system;
}
